HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.yml
.env
.env.local
.env.dev
.env.stg
.env.prod

## 파이프라인
.github/scripts
.github/workflows/sync-issue-to-notion.yml

### Local Setting ###
!local/
local/**
!local/**/
!local/*.yml
!local/*.yaml
!local/**/*.yml
!local/**/*.yaml
!local/**/*.alloy
!local/**/*.cnf
local/.env
local/**/.env
local/loki/data/
local/tempo/data/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### log 폴더
log
