# SPRING
SPRING_PROFILES_ACTIVE=

# MySQL
DB_URL=
DB_USERNAME=
DB_PASSWORD=
HIKARI_CONNECTION_TIMEOUT=
HIKARI_MAXIMUM_POOL_SIZE=
HIKARI_MAX_LIFETIME=
HIKARI_IDLE_TIMEOUT=

# JPA
JPA_DDL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_SSL=

# MongoDB
MONGODB_URI=
MONGODB_DB=

# API Keys
ODSAY_API_KEY=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_DEV_EXPIRATION=
JWT_REFRESH_EXPIRATION=
JWT_COOKIE_PATH=
JWT_SECURE_OPTION=
JWT_SAME_SITE=

# CORS
CORS_FRONT_LOCAL=
CORS_FRONT_DEV=
CORS_FRONT_PROD=
CORS_FRONT_REDIRECT=
CORS_BACK_DEV=

# KAKAO API Keys
KAKAO_REST_API_KEY=

# OAuth2- NAVER
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=

# OAuth2- KAKAO
KAKAO_CLIENT_ID=
KAKAO_SECRET=
KAKAO_REDIRECT_URI=


# AWS S3
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
